.bot{
    position: relative;
    padding: 10px;
    height: 70px;
    width: 140px;
    display: inline-block;
    justify-content: center;
    background-color:#c6c99d;

}

.centrar{
    margin-left: auto;
    margin-right: auto;
    background-color: cyan; 
    width:130px;

}

.cenM{
    margin-left: auto;
    margin-right: auto;
    background-color: cyan; 
    width:290px;

}

.cajaB{
    border-color: red;
    border-width: 1px;
    padding: 10px;
    background-color:#6378b0;
    width: 275px;
    margin-block-end: auto;
    justify-content: center;
    /*margin-left: auto;
    margin-right: auto;*/

}

canvas{
    border-color: red;
    background-color:#172014;

}

#Escapate{
    padding : 10px;
    border: 10px;
    color: blue;
    font-size: 15px;
    border-radius: 50px;
    position: relative;
    left: 10px;
    top: 6px;
    margin: 10px;
}

#Iniciate{
    padding : 10px;
    border: 10px;
    color: black;
    font-size: 15px;
    border-radius: 50px;
    position: relative;
    left: 150px;
    top: 6px;
}

*{
    border: 0px;
    margin: 0px;
}